<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Profile</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='assetsP/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assetsP/fonts/material-icons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assetsP/css/Profile-with-data-and-skills.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assetsP/css/styles.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
</head>

<body>
  <div class="container">
    <div class="main-body">
      <!-- Breadcrumb -->
      <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
      </nav>
      <!-- /Breadcrumb -->
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="User Avatar" class="rounded-circle"
                  width="150">
                <div class="mt-3">
                  <h1>{{ user.username }}</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Section</h6>
                <span class="text-secondary"> {{ user.section }}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Place of Birth</h6>
                <span class="text-secondary">13-12-2003</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <h6 class="mb-0">Group</h6>
                <span class="text-secondary">{{ user.section }}</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex align-items-center" >{{ user.username }}
                </div>
              </div>
              <hr>
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex align-items-center">  {{ user.email }}
                </div>
              </div>
              <hr>
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <h6 class="mb-0">City</h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex align-items-center"> {{ user.city }}
                </div>
              </div>
              <hr>
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex align-items-center">{{ user.address }}
                </div>
</div>
              <hr>
              <div class="row align-items-center">
                <div class="col-sm-3">
                  <h6 class="mb-0">Matricule</h6>
                </div>
                <div class="col-sm-9 text-secondary d-flex align-items-center">{{ user.student_id }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row gutters-sm">
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Card
                    Etudiant</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-6 mb-3">
              <div class="card h-100">
                <div class="card-body">
                  <h6 class="d-flex align-items-center mb-3"><i
                      class="material-icons text-info mr-2">assignment</i>Hébargement</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='assetsP/bootstrap/js/bootstrap.min.js') }}"></script>
</body>

</html>